{% extends 'base.html.twig' %}
{% block title %}Enregistrement{% endblock %}
{% block section %}

    <section class="login py-5 border-top-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-8 align-item-center">
                    <div class="border border">
                        <h3 class="bg-gray p-4">Register Now</h3>
                        <form action="#">
                            <fieldset class="p-4">
                                {# Formulaire d'enregistrement d'utilisateur #}
                                {{ form_start(registerForm) }}
                                {{ form_row(registerForm.username) }}
                                {{ form_errors(registerForm.username) }}
                                {{ form_row(registerForm.email) }}
                                {{ form_errors(registerForm.email) }}
                                {{ form_row(registerForm.plainPassword) }}
                                {{ form_errors(registerForm.plainPassword) }}
                                {{ form_row(registerForm.submit) }}
                                {{ form_end(registerForm) }}
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock section %}