{% extends 'base.html.twig' %}

{% block section %}
    <section class="hero-area bg-1 text-center overly">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Header Content -->
                    <div class="content-block">
                        <h1>Otaku's Collection </h1>

                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ form_start(searchFullForm) }}
    <section class="section-sm">

        <div class="container">
            <div class="content-block mb-3">
                <h2 class="text-center" >Recherche</h2>
            </div>
            <div class="mb-5 col-lg-10 ml-auto mr-auto">
            {# Début du formulaire de recherche #}
            {{ form_widget(searchFullForm.keyword) }}
            </div>
            <div class="row">
                {# Filtres du formulaire de recherche #}
                <div class="col-md-3">
                    <div class="category-sidebar">

                        <!-- Filtre Classification-->
                        <div class="widget category-list">
                            <h4 class="widget-header">{{ form_label(searchFullForm.classifications) }}</h4>
                            {{ form_widget(searchFullForm.classifications) }}
                        </div>


                        <!-- Filtre par genre-->
                        <div class="widget category-list ">
                            <h4 class="widget-header">{{ form_label(searchFullForm.genres) }}</h4>
                            {{ form_widget(searchFullForm.genres) }}
                        </div>

                        <!-- Filtre par édition -->
                        <div class="widget ">
                            <h4 class="widget-header">{{ form_label(searchFullForm.editors) }}</h4>
                            {{ form_widget(searchFullForm.editors) }}
                        </div>

                        <!-- Filtre par Statut -->
                        <div class="widget category-list">
                            <h4 class="widget-header">{{ form_label(searchFullForm.statuts) }}</h4>
                            {{ form_widget(searchFullForm.statuts) }}
                        </div>

                        <!--Filtre adapté en anime -->
                        <div class="widget category-list">
                            <h4 class="widget-header">Anime</h4>
                            {{ form_row(searchFullForm.animes) }}
                        </div>

                    </div>
                    {{ form_widget(searchFullForm.submit) }}
                </div>


                <div class="col-md-9">
                    {# Boucle sur le résultat de recherche des manga. On affiche ceux trouvé, si pas trouvé on affiche une phrase #}

                    <div class="product-grid-list">
                        <div class="row mt-30">
                            {% for manga in mangas %}
                                <div class="col-sm-12 col-lg-4 col-md-6">
                                    <!-- product card -->
                                    <div class="product-item bg-light">
                                        <div class="card">
                                            <div class="thumb-content">
                                                <!-- <div class="price">$200</div> -->
                                                <a href="{{ url('single', {slug: manga.slug}) }}">
                                                    <img class="card-img-top img-fluid"
                                                         src="{{ asset('uploads/'~manga.photo.url) }}"
                                                         alt="Card image cap">
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title"><a
                                                            href={{ url('single', {slug: manga.slug}) }}>{{ manga.frenchTitle }}</a>
                                                </h4>
                                                <p class="card-text">
                                                    <div class="overflow-auto p-2" style=" height: 120px">{{ manga.summary }}</div>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <h2>Il n'y a pas de Manga qui correspond à cette recherche</h2>
                            {% endfor %}

                        </div>
                    </div>
                    <!-- pagination -->
                    <div class="pagination justify-content-center">
                    {{ knp_pagination_render(mangas) }}
                    </div>
                    <!-- pagination -->
                </div>
            </div>
        </div>
    </section>
    {{ form_end(searchFullForm) }}
{% endblock section %}