{% extends 'base.html.twig' %}

{% block section %}

    <!--===================================
=            Store Section            =
====================================-->
    <section class="section bg-gray">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <!-- Left sidebar -->
                <div class="col-md-12">
                    <div class="product-details">
                        <h1 class="product-title text-center mb-4">{{ manga.frenchTitle }}</h1>

                        <!-- product slider -->

                        <div class="col-md-8 mx-auto">
                            <img class="img-fluid w-100" src="{{ asset('uploads/'~manga.photo.url) }}" alt="product-img">
                        </div>

                        <!-- product slider -->

                        <div class="content ">
                            <ul class="nav nav-pills " id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                                       aria-selected="true">Description</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                                       aria-selected="false">Tomes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
                                       aria-selected="false">Avis</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <h3 class="tab-title">Description</h3>
                                    <table class="table table-bordered product-table">
                                        <tbody>
                                        <tr>
                                            <td >Titre Original</td>
                                            <td >{{ manga.originalTitle }}</td>
                                        </tr>
                                        <tr>
                                            <td >Auteur</td>
                                            <td >{{ manga.author.firstname }} {{ manga.author.lastname }}</td>
                                        </tr>
                                        <tr>
                                            <td >Edition</td>
                                            <td >{{ manga.editor.name }}</td>
                                        </tr>
                                        <tr>
                                            <td >Genre</td>
                                            <td >{{ manga.genre.name}}</td>
                                        </tr>
                                        <tr>
                                            <td >Classification</td>
                                            <td >{{ manga.classification.name }}</td>
                                        </tr>
                                        <tr>
                                            <td >Adapté en animé</td>
                                            <td > {% if manga.anime %}
                                            Oui
                                            {% else %}
                                            Non
                                            {% endif %}</td>
                                        </tr>
                                        <tr>
                                            <td >Statut</td>
                                            <td >{{ manga.statut.name }}</td>
                                        </tr>
                                        <tr>
                                            <td >Résumé</td>
                                            <td >{{ manga.summary }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade dashboard-container" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <h3 class="tab-title">Liste de tomes</h3>
                                    <table class="table table-bordered product-table">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Numéro</th>
                                            <th class="text-center">Couverture</th>
                                            <th class="text-center">Titre</th>
                                            <th class="text-center">Résumé</th>
                                            <th class="text-center">Ajouter</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for tome in manga.tomes %}
                                        <tr>
                                            <td class="text-center align-middle">{{ tome.number }}</td>
                                            <td class="">
                                                <img width="80px" height="auto" src="{{ asset('uploads/'~tome.photo.url) }}" alt="image description"></td>
                                            <td class="product-category align-middle">
                                                <h3 class="title">{{ tome.title }}</h3>
                                            </td>
                                            <td class=""><div class="overflow-auto p-2" style=" height: 120px"><span class="summery">{{ tome.summary }}</span></div>
                                            </td>
                                            <td class="action actionTome align-middle" data-title="Action">
                                                <div class="">
                                                    <ul class="list-inline justify-content-center">
                                                        <li class="list-inline-item">
                                                            <a data-toggle="tooltip" data-placement="top" title="View" class="add " href="{{ url('addCollection', {id: tome.id}) }}">
                                                                <i class="fa fa-plus-circle "></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                       {% endfor %}
                                    </table>
                                </div>

                                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                    <h3 class="tab-title">Commentaires</h3>
                                    <div class="product-review">
                                        <div class="media-inline">
                                            {% for comment in manga.comments %}
                                            <div class="media-body">
                                                <div class="name">
                                                    <h5>{{ comment.user.username }}</h5>
                                                </div>
                                                <div class="date">
                                                    <p>{{ comment.date | date('d-m-Y') }}</p>
                                                </div>
                                                <div class="review-comment">
                                                    <p>{{comment.message }}
                                                    </p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>

                                        {% if app.user %}
                                        <div class="review-submission">
                                            <h3 class="tab-title">Donne ton avis</h3>
                                            <div class="review-submit">
                                                {{ form(commentForm) }}
                                               {# <form action="#" class="row">
                                                    <div class="col-lg-6">
                                                        <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                                                    </div>
                                                    <div class="col-12">
                                                        <textarea name="review" id="review" rows="10" class="form-control" placeholder="Message"></textarea>
                                                    </div>
                                                    <div class="col-12">
                                                        <button type="submit" class="btn btn-main">Sumbit</button>
                                                    </div>
                                                </form>#}
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- Container End -->
    </section>

{% endblock section %}