{% extends 'base.html.twig' %}

{% block section %}
<section class="dashboard section">
    <!-- Container Start -->
    <div class="container">

        {% for message in app.flashes('deleteManga') %}
            <div class="alert alert-success">
                {{ message }}
            </div>

        {% endfor %}

        {% for messageTome in app.flashes('deleteTome') %}
            <div class="alert alert-success">
                {{ messageTome }}
            </div>

        {% endfor %}

        {% for messageComment in app.flashes('deleteComment') %}
            <div class="alert alert-success">
                {{ messageComment }}
            </div>

        {% endfor %}

        {% for messageMessage in app.flashes('deleteMessage') %}
            <div class="alert alert-success">
                {{ messageMessage }}
            </div>

        {% endfor %}


        <!-- Row Start -->
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
                <div class="sidebar">

                    <!-- Dashboard Links -->
                    <div class="widget user-dashboard-menu">
                        <ul>
                            <li {% if app.request.get('_route') == 'admin-books' %}class="active"{% endif%}>
                                <a href="{{ url('admin-books') }}"><i class="fa fa-bookmark-o"></i> Livres</a>
                            </li>
                            <li {% if app.request.get('_route') == 'admin-reviews' %}class="active"{% endif%}>
                                <a href="{{ url('admin-reviews') }}"><i class="fa fa-comment-o"></i>Commentaires</a>
                            </li>
                            <li {% if app.request.get('_route') == 'admin-messages' %}class="active"{% endif%}>
                                <a href="{{ url('admin-messages') }}"><i class="fa fa-envelope-o"></i>Messages</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>



            {% block content %}
            {% endblock content %}

        </div>
        <!-- Row End -->
        <!-- Container End -->
    </div>
</section>
{% endblock section %}