<div class="col-sm-12 col-md-6">
    <!-- product card -->
    <div class="product-item bg-light">
        <div class="card">
            <div class="thumb-content">
                <!-- <div class="price">$200</div> -->
                <a href="{{ url('single', {'slug': 'lastRelease.manga.slug'}) }}">
                    <img class="card-img-top img-fluid" src="{{ asset('uploads/'~lastRelease.photo.url) }}" alt="Card image cap">
                </a>
            </div>
            <div class="card-body">
                <p class="text-center">{{ lastRelease.relDate | date('d-m-Y') }}</p>
                <h4 class="card-title"><a href="{{ url('single', {'slug': 'lastRelease.manga.slug'}) }}">{{ lastRelease.number }}. {{ lastRelease.title }}</a></h4>

                <div class="product-ratings">
                    <ul class="list-inline">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>