{% extends 'layouts/admin.html.twig' %}

{% block content %}

    <div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
    <!-- Recently Favorited -->
    <div class="widget dashboard-container my-adslist">
        //Détermine le nombre de message affichés
        <h2 class="widget-header">Les messages({{ messages.getTotalItemCount }})</h2>
        <table class="table table-responsive product-dashboard-table">
            <thead>
            <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Titre</th>
                <th class="text-center">Catégorie</th>
                <th class="text-center">Message</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            //Boucle sur les messages a afficher
            {% for message in messages %}
                <tr>
                    <td class="product-category">
                        <p class="date-message">{{ message.date | date('d-m-Y') }}</p>
                    </td>
                    <td class="product-category">
                        <h3 class="title">{{ message.title }}</h3>
                    </td>
                    <td class="product-category"><span class="categories">{{ message.category.name }}</span></td>
                    <td class="product-details">
                        <div class="overflow-auto  p-2" style=" height: 100px"><span
                                    class="categories">{{ message.content }}</span></div>
                    </td>
                    <td class="action" data-title="Action">
                        <div class="">
                            <ul class="list-inline justify-content-center">
                                <li class="list-inline-item">
                                    //LIen pour supprimer le message
                                    <a data-placement="top" title="Delete" class="delete" href="{{ url('delete-message', {id: message.id}) }}" > <i class="fa fa-trash"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                //Fin de la boucle
            {% endfor %}
            </tbody>
        </table>

    </div>

    <!-- pagination -->
    <div class="pagination justify-content-center">
        {{ knp_pagination_render(messages) }}
    </div>
    <!-- pagination -->



{% endblock content %}