{% extends 'Layouts/admin.html.twig' %}

{% block content %}

    <!-- delete-account modal -->
    <!-- delete account popup modal start-->
    <!-- Modal Delete -->
    <div class="modal fade" id="deleteitem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img src="images/account/Account1.png" class="img-fluid mb-2" alt="">
                    <h6 class="py-2">Es-tu sur de vouloir le supprimer?</h6>
                </div>
                <div class="modal-footer border-top-0 mb-3 mx-5 justify-content-lg-between justify-content-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger" href="{{ url('delete', {id: mangas.id}) }}">Supprimer</button>
                </div>
            </div>
        </div>
    </div>


    <!-- add item modal -->
    <div class="modal fade" id="additem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2 class="text-center">Que veux-tu ajouter?</h2>

                    <fieldset class="p-4 modal-footer border-top-0 mb-3 mx-5 justify-content-center">

                        <a href="{{ url('create-manga') }}"><button type="button" class="btn btn-primary" >Manga</button></a>

                        <a href="{{ url('create-tome') }}"><button type="button" class="btn btn-primary" >Tome</button></a>

                    </fieldset>


                </div>

            </div>
        </div>
    </div>

    <div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
        <!-- Recently Favorited -->
        <div class="widget dashboard-container my-adslist">
            <div class="row">
                <div class="col-md-10">
                    <h2 class="widget-header">Les livres</h2>
                </div>
                <div class="col-md-2 action">
                    <a data-toggle="modal" data-placement="top" title="Add" class="add" href="" data-target="#additem">
                        <i class="fa fa-plus-circle"></i>
                    </a>
                </div>
            </div>
            <table class="table table-responsive product-dashboard-table">
                <thead>
                <tr>
                    <th class="text-center">Image</th>
                    <th class="text-center">Manga</th>
                    <th class="text-center">Tome</th>
                    <th class="text-center">Auteur</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>

                {% for manga in mangas %}
                    <tr>
                        <td class="product-thumb">
                            <img width="120px" height="auto" src="{{ asset('uploads/'~manga.photo.url) }}" alt="image description"></td>
                        <td class="product-details">
                            <h3 class="title">{{ manga.frenchTitle }}</h3>
                            <div class="overflow-auto p-2" style=" height: 100px"><span class="summery">{{ manga.summary }}</span></div>
                        </td>
                        <td class="tomes"><span class="categories">56</span></td>
                        <td class="author"><span class="categories">{{ manga.author }}</span></td>
                        <td class="action" data-title="Action">
                            <div class="">
                                <ul class="list-inline justify-content-center">
                                    <li class="list-inline-item">
                                        <a data-toggle="tooltip" data-placement="top" title="View" class="view" href="{{ url('single', {slug: manga.slug}) }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a data-toggle="tooltip" data-placement="top" title="Edit" class="edit" href="{{ url('edit_manga', {id: manga.id}) }}">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a data-placement="top" title="Delete" class="delete" href="" data-toggle="modal" data-target="#deleteitem">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a data-toggle="tooltip" data-placement="top" title="Add" class="add" href="{{ url('admin-tome', {slug: manga.slug}) }}" >
                                            <i class="fa fa-book"></i>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>

        </div>

        <!-- pagination -->
        <div class="pagination justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- pagination -->

    </div>
{% endblock content %}

